---
layout: cover
title: Home
---
<div class='row'>
  <div class="col">
    <h1 class="display-1 mb-4 text-primary-light">Receba em casa</h1>
    <h1 class="display-5 my-4 text-secondary-light">Toda a qualidade dos nossos pratos e produtos no conforto de seu lar.</h1>
  </div>
</div>
<div class='row mb-4 pb-4'>
  <div class="col-lg-6 col-12 mb-4">
    <div class='row'>
      <div class="col text-center">
        <a href="https://wa.me/message/GG5UDYSDCIYGN1" target="_blank">
          <div style="font-size: 2.6rem;" class="d-none d-lg-block">
            <i class="fab fa-whatsapp fa-10x"></i>
          </div>
          <div style="font-size: 1rem;" class="d-lg-none">
            <i class="fab fa-whatsapp fa-10x"></i>
          </div>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class="col text-center mt-2">
        <a href="https://wa.me/message/GG5UDYSDCIYGN1" target="_blank" class="btn ps-0 py-0">
          <h2 class="text-primary-light">(51) 99966-4101</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 mb-4">
    <div class='row'>
      <div class="col text-center">
        <a href="https://www.goomer.app/vertsaudavel" target="_blank">
          <img class="img-fluid" src="/assets/images/goomer_qr.jpeg" alt="Goomer">
        </a>
      </div>
    </div>
    <div class='row'>
      <div class="col text-center mt-2">
        <a href="https://www.goomer.app/vertsaudavel" target="_blank">
          <img class="text-primary img-fluid" src="/assets/images/goomer_white.svg" alt="Goomer">
        </a>
      </div>
    </div>
  </div>
</div>

<div class='row mb-4 pb-4'>
  <div class="col-lg-6 col-12 mb-4 text-center">
    <div class="d-grid gap-2">
      <a href="https://www.goomer.app/vertsaudavel" target="_blank" class="btn btn-primary text-secondary-light btn-lg btn-block" role="button">
        Alimentação Saudável
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-12 mb-4 text-center">
    <div class="d-grid gap-2">
      <a href="https://www.goomer.app/vert-saudavel" target="_blank" class="btn btn-primary text-secondary-light btn-lg btn-block" role="button">
        Produtos Naturais
      </a>
    </div>
  </div>
</div>

<div class='row my-4 py-4'>
  <div class="col-8 offset-2">
    <img class="img-fluid" src="/assets/images/delivery.jpg">
  </div>
</div>
