---
layout: list
title: Produtos
type: products
---

{% unless site.data.products %}
  <div class='row text-primary-light p-2 pt-3'>
    <div class="col">
      <h3>Em breve!</h3>
    </div>
  </div>
{% endunless %}

{% for item in site.data.products %}
  <div class='row bg-primary text-primary-light p-2 pt-3'>
    <div class="col">
      <h3>{{ item.category }}</h3>
    </div>
  </div>

  <div class='row bg-primary-light text-dark p-2 pt-3'>
    <div class="col">
      {% for product in item.products %}
        <div class='row  p-2 pt-3'>
          <div class="col">
            <h5>{{ product.name }}</h5>
            {% if product.details %}
              <p class="small">{{ product.details }}</p>
            {% endif %}
            {% if product.price %}
              <p><b>{{ product.price }}</b></p>
            {% endif %}
          </div>
          {% if product.picture %}
            <div class="col-6 col-lg-3">
              <div type="button" class="btn" data-bs-toggle="modal" data-bs-target="#picmodal-{{ product.picture | remove: "." }}">
                <img class="img-fluid" src="/assets/images/products/{{ product.picture }}">
              </div>
              <!-- Modal -->
              <div class="modal fade" id="picmodal-{{ product.picture | remove: "." }}" tabindex="-1" aria-labelledby="modal-{{ product.picture | remove: "." }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-{{ product.picture | remove: "." }}">{{ product.name }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                      <img class="img-fluid" src="/assets/images/products/{{ product.picture }}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <hr/>
      {% endfor %}
    </div>
  </div>

  <div class='row p-2 pt-3'>
    <div class="col">
      <button type="button" class="btn btn-primary test-primary-light" onclick="window.history.back()">Voltar</button>
    </div>
  </div>
{% endfor %}
