---
title: A nossa Loja
---

<div class='row text-primary-light p-2 pt-3'>
  <div class="col text-center">
    <p class="lead">
      <i class="fab fa-whatsapp fa-lg"></i> Telefone: (51) 99966-4101
    </p>
    <p class="lead">
      <i class="far fa-envelope fa-lg"></i> E-mail: vertsaudavel@gmail.com
    </p>
  </div>
</div>

<div class="row">
  <div class="col col-md-6 offset-md-3">
    <div class="ratio ratio-4x3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.628630073588!2d-51.25645208434338!3d-30.10482048186033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95198219eadf1de1%3A0x2aba022a0c2d0350!2sShopping%20Paseo%20Zona%20Sul!5e0!3m2!1spt-BR!2sbr!4v1616889195142!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

<div class='row text-primary-light p-2 pt-3'>
  <div class="col text-center">
    <p><i class="fas fa-map-marker-alt fa-lg"></i>  Paseo Zona Sul - Avenida Wenceslau Escobar, 1823 Loja 44 91900-000 Porto Alegre, RS</p>
  </div>
</div>

Fotos.
