<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary p-3">
  <div class="container-fluid">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-auto text-white text-decoration-none">
      <img src="/assets/images/logo_nav.png" class="img-fluid" style="height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-end flex-column d-md-none" id="navbarCollapse">
      <ul class="navbar-nav mb-2 mb-md-0">
        {% for item in site.data.navigation %}
          <li class="nav-item">
            <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}active{% endif %}" {% if page.url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}

        <li class="nav-item ms-4">
        </li>

        <li class="nav-item">
          <a href="https://www.instagram.com/vertsaudavel/" class="nav-link" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/vertsaudavel" class="nav-link" target="_blank">
            <i class="fab fa-facebook-square fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://wa.me/message/GG5UDYSDCIYGN1" class="nav-link" target="_blank">
            <i class="fab fa-whatsapp fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
