// Botstrap custom variables
$primary:        #bf3525;
$primarylight:   #e8ddce;
$secondary:      #003636;
$secondarylight: #d2ce78;
$info:           #171949;

$enable-rounded: true;

$enable-responsive-font-sizes: true;

@import 'bootstrap/bootstrap';
