html, body {
  height: 100%;
  width: 100%;
}

#home {
  background: url("/assets/images/cover.png") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: top;
}
.landing-logo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-top: 300px;
}

#img-bar {
  background: url("/assets/images/menu.jpg") no-repeat center center fixed;
  display: table;
  height: 25%;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: top;
}
