---
layout: default
---
{% include cover.html %}
{% include navigation.html %}

<div class='container-fluid' id="img-bar">
</div>

<div class='container text-primary-light'>
  <div class='row'>
    <div class="col m-4">
      {{ content }}
    </div>
  </div>
</div>
