<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% seo %}
  </head>
  <body class="bg-secondary">
    {{ content }}

    <div class='container-fluid text-primary-light bg-primary'>
      <div class='row'>
        <div class="col m-4 text-end">
          <a href="mailto:evedovelli@gmail.com" class="text-primary-light btn">
            <div class="text-secondary-light">Desenvolvido <span class="text-secondary">por</span> Estevan Vedovelli</div>
          </a>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
