---
layout: default
---
{% include navigation.html %}

<div class='container-fluid' id="img-bar-{{ page.type }}">
</div>

<div class='container-fluid'>
  <div class='row text-primary bg-primary-light'>
    <div class="col m-4">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class='container text-primary-light'>
  <div class='row'>
    <div class="col m-4">
      {{ content }}
    </div>
  </div>
</div>
